<div class="form-section" id="location-fields" style="display: none;">
  <div class="form-field">
<label for="longitude">Longitude:</label>
  <div class="input-container">
  <input type="number" step="any" name="longitude">
</div></div>
  <div class="form-field">
<label for="latitude">Latitude:</label>
  <div class="input-container">
  <input type="number" step="any" name="latitude">
</div></div>
  <div class="form-field">
<label for="location_name">Nome do Local:</label>
  <div class="input-container">
  <input type="text" name="location_name">
</div></div>
  <div class="form-field">
<label for="location_address">Endereço do Local:</label>
  <div class="input-container">
  <input type="text" name="location_address">
</div></div>
</div>