<div class="form-section" id="template-fields" style="display: none;">
  <!-- Formulário para template -->
  <div class="form-field">
  <label for="header_text">Header Text:</label>
  <div class="input-container">
  <input type="text" name="header_text">
</div></div>
<div class="form-field">
  <label for="body_text">Body Text:</label>
  <div class="input-container">
  <textarea name="body_text"></textarea>
  </div></div>
  <div class="form-field">
  <label for="footer_text">Footer Text:</label>
  <div class="input-container">
  <input type="text" name="footer_text">
</div></div>
  <div id="botoes-container"></div>
  <button type="button" id="adicionar-botao">+ Adicionar Botão</button>
</div>